<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="features" type="NFeature.FeatureConfigurationSection`2[[NFeature.Test.Slow.Feature, NFeature.Test.Slow],[NFeature.Test.Slow.Tenant, NFeature.Test.Slow]], NFeature"/>
  </configSections>
  <!-- NOTE: BA; integration tests depend on these settings -->
  <features>
    <add name="TestFeatureA"
         state="Enabled"
         supportedTenants="TenantA"
         dependencies="TestFeatureB,TestFeatureC"
         settings="{ testFeatureSetting1:'testFeatureSetting1Value',testFeatureSetting2:'testFeatureSetting2Value' }" />

    <add name="TestFeatureB"
         state="Enabled"
         supportedTenants="TenantA,TenantB"
         dependencies=""
         settings="{ testFeatureSetting1:'testFeatureSetting1Value',testFeatureSetting2:'testFeatureSetting2Value' }" />

    <add name="TestFeatureC"
         state="Enabled"
         supportedTenants="TenantA,TenantB"
         startDtg="23/03/1981:18:00:01"
         dependencies="" />

    <add name="TestFeatureD"
         state="Disabled"
         supportedTenants=""
         dependencies=""
         startDtg="23/03/1981:18:00:01"
         endDtg="23/03/2081:18:00:01"/>

    <add name="TestFeatureE"
         state="Established" />
  </features>
</configuration>