<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="features" type="NFeature.FeatureConfigurationSection`1[[NFeature.Test.Slow.TestFeatureList, NFeature.Test.Slow]], NFeature"/>
  </configSections>
  <!-- NOTE: BA; integration tests depend on these settings -->
  <features>
    <add name="TestFeature1"
         state="Enabled"
         supportedTenants="Tenant1"
         dependencies="TestFeature2,TestFeature3"
         settings="{ testFeatureSetting1:'testFeatureSetting1Value',testFeatureSetting2:'testFeatureSetting2Value' }" />

    <add name="TestFeature2"
         state="Enabled"
         supportedTenants="Tenant1,Tenant2"
         dependencies=""
         settings="{ testFeatureSetting1:'testFeatureSetting1Value',testFeatureSetting2:'testFeatureSetting2Value' }" />

    <add name="TestFeature3"
         state="Enabled"
         supportedTenants="Tenant1,Tenant2"
         startDtg="23/03/1981:18:00:01"
         dependencies="" />

    <add name="TestFeature4"
         state="Disabled"
         supportedTenants=""
         dependencies=""
         startDtg="23/03/1981:18:00:01"
         endDtg="23/03/2081:18:00:01"/>

    <add name="TestFeature5"
         state="Established" />
  </features>
</configuration>