<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="NFeature.Configuration" version="1.0.4554.36639" />
  <package id="NHelpfulException" version="1.0.4554.34109" />
  <package id="NSure" version="1.0.4554.34428" />
  <package id="NUnit" version="2.6.0.12054" />
</packages>