<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBasicExtensionMethod" version="1.0.4292.32667" />
  <package id="Newtonsoft.Json" version="4.0.3" />
  <package id="NFeature.Configuration" version="1.0.4321.41583" />
  <package id="NHelpfulException" version="1.0.4292.35244" />
  <package id="NSure" version="1.0.4319.27113" />
</packages>